@mixin title {
	font-family: $ff-headers;
	font-style: normal;
	font-weight: 500;
	font-size: 86px;
	line-height: 86px;
	margin: 0;

	@media(max-width: $m-screen-width--iphoneX) {
		font-size: 48px;
		line-height: 48px;
	}

	@media (min-width: $m-screen-width--iphoneX + 1) and (max-width: $break-lap) {
		font-size: 62px;
		line-height: 62px;
	}
}

@mixin subtitle {
	font-family: $ff-headers;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 44px;
	margin: 0;

	@media(max-width: $m-screen-width--iphoneX) {
		font-size: 28px;
		line-height: 34px;
	}
}

@mixin heading {
	font-family: $ff-headers;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 36px;
	margin: 0;
}

@mixin body {
	font-family: $ff-body;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}

@mixin link {
	font-family: $ff-body;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	text-decoration: none;
	color: $c-default-text-color;
	transition: all 0.2s ease-in-out;

	&:hover {
		@include animation-fadeInOutHover;
		// Chrome and IE don't support font-weight animations so font-weight transitions look blocky. Hack below gives a smooth, font-weight transition effect.
		text-shadow:
			-0.2px -0.2px 0 $c-default-text-color,
			0.2px -0.2px 0 $c-default-text-color,
			-0.2px 0.2px 0 $c-default-text-color,
			0.2px 0.2px 0 $c-default-text-color;
	}
}
