@mixin title {
	font-family: $ff-headers;
	font-style: normal;
	font-weight: 500;
	font-size: $fs-header--x-large;
	line-height: $fs-header--x-large;

	@media(max-width: $m-screen-width--iphoneX) {
		font-size: $fs-header--normal;
		line-height: $fs-header--normal;
	}

	@media (min-width: $m-screen-width--iphoneX + 1) and (max-width: $m-screen-width--iphone8Plus) {
		font-size: $fs-header--large;
		line-height: $fs-header--large;
	}
}

@mixin subtitle {
	font-family: $ff-headers;
	font-style: normal;
	font-weight: 300;
	font-size: $fs-subtitle--x-large;
	line-height: $fs-subtitle--x-large + 4px;

	@media(max-width: $m-screen-width--iphoneX) {
		font-size: $fs-subtitle--large;
		line-height: $fs-subtitle--large + 6px;
	}
}

@mixin body {
	font-family: $ff-body;
	font-style: normal;
	font-weight: 300;
	font-size: $fs-body--small;
}
